.button {
  display: block;
  border-radius: 40px;
  background-color: #292929;

  text-decoration: none;
  color: #fff;
  text-align: center;
  height: 27px;
  line-height: 27px;
  font-weight: 700;
  padding: 0 48px;
}
