@use '../styles/utils/mixins.scss' as *;

.footer {
  height: 200px;
  background-image: url(../images/photos/footer.jpg);
  display: flex;

  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;

  @include for-tablet {
    height: 400px;
  }
  @include for-desktop {
    height: 460px;
  }
}
