.footer {
  height: 200px;
  background-image: url(../images/photos/footer.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 24px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
}
