.product {
  &__item {
    display: block;
    margin: 0 auto 32px;
    &:hover {
      transform: scale(1.2);
      z-index: 1;
    }
  }

  &__paragraph {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    &--highlight {
      font-weight: 700;
      color: var(--main-font-color);
    }
  }
}
